@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.main_container {
  background: #0B2434;
}

main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.game_container {
  font-family: 'Karla', sans-serif;
  width: 320px;
  height: 320px;
  left: 20px;
  top: 30px;
  background: #F5F5F5;
  border-radius: 10px;
  padding: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.explanation {
  text-align: center;
}

.roll_dice {
  display: inline-block;
  height: 36px;
  width: 120px;
  cursor: pointer;
  background: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  border: none;
  margin-top: auto;
}
